<div class="container">
  <foo-city-form
    (cityWasSelected)="onSelectedCity($event)">
    <div
      *ngIf="errorCity"
      style="margin-top: 8px;">
      Por favor seleccione otra ciudad.
    </div>
  </foo-city-form>
  <div *ngIf="infoSelectedCity">
    <foo-about-city
      [cities]="cities"
      [infoSelectedCity]="infoSelectedCity"
      (cityWasDeleted)="deleteCity($event)"
      (cityWasSelected)="selectCity($event)">
    </foo-about-city>
    <div class="row">
      <foo-highchart-weather
        class="col-xs-10"
        [cityWeather]="infoSelectedCity.consolidated_weather"
        [cityName]="infoSelectedCity.title">
      </foo-highchart-weather>
      <foo-aside-weather
        class="col-xs-2"
        style="padding-right: 0;"
        [weatherInfo]="infoSelectedCity.consolidated_weather[0]">
      </foo-aside-weather>
    </div>
  </div>
</div>
