<div class="container">
  <foo-header></foo-header>
  <foo-city-form
    (cityWasSelected)="onSelectedCity($event)">
  </foo-city-form>
  <div *ngIf="infoSelectedCity">
    <foo-about-city
      [infoSelectedCity]="infoSelectedCity">
    </foo-about-city>
    <div class="row">
      <foo-highchart-weather
        class="col-xs-10"
        [cityWeather]="infoSelectedCity.consolidated_weather"
        [cityName]="infoSelectedCity.title">
      </foo-highchart-weather>
      <foo-aside-weather
        class="col-xs-2"
        style="padding-right: 0;"
        [weatherInfo]="infoSelectedCity.consolidated_weather[0]">
      </foo-aside-weather>
    </div>
  </div>
  <div *ngIf="errorCity">
    Por favor seleccione otra ciudad.
  </div>
</div>
