.logoWeather {
  height: 50px;
  width: 50px;
  padding: 0;
}

.containerAside {
  margin: 12px 0;
}

.logoWindDirection {
  height: 20px;
  width: 20px;
  padding: 0;
}

.weatherState {
  margin-top: 30px;
  padding-left: 12px;
  padding-right: 0;
  width: 65%;
}

.infoAside {
  margin: 0;
  padding: 0;
}
